.DivWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.LoginPageSection {
	padding: 10px;
	background-color: #c0c0c0;
	height: 375px;
	width: fit-content;
	margin: 50px;
}

.VerticalLine {
	border-left: 6px solid black;
	height: 350px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
}

.CenterButton {
	text-align: center;
	padding: 10px;
}

.TextInput {
	width: 250px;
}

label {
	font-size: 16px;
}
